###### Pandas
* if we have a tabular data, in the form of a table like in a spreadsheet. 
* every row is called as obsevations and for each observations there are different variables called columns.
* to deal deal with this type of data we need a reactangular data structure in python, so we can use an 2D numpy array but it's an option. not necessarily the best one.
* we can use pandas to manipulate, pandas is a high level data manipulation tool developed by 'McKinney' bulit on the numpy package.
* compared to numpy it's more high level, making it very interesting for data scientists all over the world.
* in pandas we store the tabular data. containing a data frame.
* first create the dictionary and then convert that dictionary to the tabular form by using pandas.
* if there is a tons of the data then we don't need to build the data frame manually, we can import data from an external file that contains all the required data.
* file can be in the form of csv or excel.
* pass the command as pd.read_csv(the file name) now we'll get the data in the file if we sets the index column to 0 then we can get a next and structured way of our data pd.read_csv(the file name, index_col = 0).

* Pandas is an open source library, providing high-performance, easy-to-use data structures and data analysis tools for Python. Sounds promising!

* The DataFrame is one of Pandas' most important data structures. It's basically a way to store tabular data where you can label the rows and the columns. One way to build a DataFrame is from a dictionary.

###### In the exercise that follow you will be working with vehicle data from different countries. Each observation corresponds to a country and the columns give information about the number of vehicles per capita, whether people drive left or right, and so on., Three lists are defined 

* names, containing the country names for which data is available.
* dr, a list with booleans that tells whether people drive left or right in the corresponding country.
* cpc, the number of motor vehicles per 1000 people in the corresponding country.

* Each dictionary key is a column label and each value is a list which contains the column elements.

In [1]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict) 
print(cars) # in the output the row labels will automatically set to integers from 0 up to 6

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [2]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels # Specifing the row labels by setting 

# Print cars again
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [3]:
# Importing the csv file to the data frame.

import pandas as pd
data_frame = pd.read_csv('Automobile.csv')
data_frame.head(5) # to get 1st five rows of the file as there are many rows.

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

###### Column Access[ ]

* it is important to make accessing columns, rows and single elements in your data frame easy.
* if we want to print the countries column of a cars data frame, use the below code.
* to find the type of the column just use the code.
* if you want to select the column but keep the data in a data frame you'll need double square brackets.
* you can extend this code to select two columns.

* we can get the second, third and fourth rows of data frame.

In [4]:
cars["country"] # to get only counitries column from cars data frame.

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [5]:
type(cars["country"]) # here we re dealing with pandas series, in a simplified sense, you can think of the series as a 1-D array that can be labeled,
                      # if you paste together a bunch of series, you can create a data frame.

pandas.core.series.Series

In [6]:
type(cars[["country"]]) # it's good as we are getting data frame as type of the cell.

pandas.core.frame.DataFrame

In [7]:
(cars[["country","drives_right"]])

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [8]:
type(cars[["country","drives_right"]])

pandas.core.frame.DataFrame

In [9]:
# to get the rows from the data frame.

cars[1:4] # end of the slice is excluded and index starts at 0.

       country  drives_right  cars_per_cap
AUS  Australia         False           731
JPN      Japan         False           588
IN       India         False            18

* we have to do similar thngs with pandas, we have to extend our toolbox with the LOC and ILOC functions.
* loc is a techinique to select parts of your data based on labels.
* iloc is position based.

In [10]:
cars.loc['JPN'] # again, we get a pandas series, containing all the row's information, rather inconveniently shown on different lines.

country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object

In [11]:
cars.loc[['JPN']] # in data frame structured.

    country  drives_right  cars_per_cap
JPN   Japan         False           588

In [12]:
cars.loc[['JPN','AUS']]
# output was only selecting entire rows, that's something you could also do with the basic square brackets.
# the difference here is that you can extend your selecton with a comma and a specification of the columns of interest.

       country  drives_right  cars_per_cap
JPN      Japan         False           588
AUS  Australia         False           731

In [13]:
# we can use loc to select all rows but speccific number of columns.

cars.loc[['JPN','AUS','US'],['country','cars_per_cap']]

           country  cars_per_cap
JPN          Japan           588
AUS      Australia           731
US   United States           809

In [14]:
cars.loc[:,['country','cars_per_cap']]
# this time the intersection goes to the all rows, but only two columns.

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JPN          Japan           588
IN           India            18
RU          Russia           200
MOR        Morocco            70
EG           Egypt            45

In [15]:
cars.iloc[['2']]
# same as loc but here use passes the index number insted of labels.

    country  drives_right  cars_per_cap
JPN   Japan         False           588

With loc and iloc you can do practically any data selection operation on DataFrames you can think of. loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index.